.jumbotron{
    width: 90%;
    margin: auto;
    padding: 4rem 0;
    background-image: url("../img/pizza.png");

}
h1 {
    text-align: center;
    background: rgba(255, 255, 255, 0.53)
}
#SizeAndCrustHeader {
    background-color: #227bff;
    color: white;
}
#CheeseAndSauceHeader {
    background-color: #227bff;
    color: white;
}
#ToppingsHeader{
    background-color: #227bff;
    color: white;
}
.card {
    margin-bottom: 1em;
}
div.d-none {
    font-size: xx-large;
}
form {
    display: flex;
}

li.list-group-items{
    list-style: none;
}

h5.card-header{
    background-color: #027BFF;
    color: white;
}