/*@media screen and (max-width: 550px) {*/
/*    body {*/
/*        background-color: #f0f0f0;*/
/*    }*/

/*    .header {*/
/*        background-color: white;*/
/*    }*/

/*    h2 {*/
/*        text-align: center;*/
/*    }*/

/*    img {*/
/*        width: 105px;*/
/*        height: 105px;*/
/*    }*/

/*    .navbar {*/
/*        justify-content: center;*/
/*        background-color: #f0f0f0;*/
/*    }*/

/*    .row {*/
/*        text-align: center;*/
/*        color: black;*/
/*    }*/

/*    #circle1{*/
/*        height: 200px;*/
/*        width: 200px;*/
/*        background-color: #e6563b;*/
/*        border-radius: 50%;*/
/*        font-size: xx-large;*/
/*        font-weight: bolder;*/
/*        border: 10px solid white;*/
/*        color: white;*/
/*    }*/
/*    h6{*/

/*    }*/
/*    #circle2{*/
/*        height: 200px;*/
/*        width: 200px;*/
/*        background-color: #DEA03D;*/
/*        border-radius: 50%;*/
/*        font-size: xx-large;*/
/*        font-weight: bolder;*/
/*        border: 10px solid white;*/
/*        color: white;*/
/*    }*/
/*    #circle3{*/
/*        height: 200px;*/
/*        width: 100px;*/
/*        background-color: #7cb06c;*/
/*        border-radius: 50%;*/
/*        font-size: xx-large;*/
/*        font-weight: bolder;*/
/*        border: 10px solid white;*/
/*        color: white;*/
/*        padding: 5px;*/
/*    }*/
/*    #circle4{*/
/*        height: 200px;*/
/*        width: 200px;*/
/*        background-color: #00aba9;*/
/*        border-radius: 50%;*/
/*        font-size: xx-large;*/
/*        font-weight: bolder;*/
/*        border: 10px solid white;*/
/*        color: white;*/
/*    }*/

/*}*/

/*@media screen and (min-width: 600px) {*/

/*}*/

/*@media screen and (min-width: 800px) {*/

/*}*/

/*@media screen and (min-width: 1200px) {*/

/*}*/

.circles-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 2em;
    margin: 2.5em;
}
.circle {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: 10px solid #f0f0f0;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}
#circles-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.txt {
    font-family: 'Anton', sans-serif;
    display: flex;
    align-items: center;
}
.bckgrd-1 {
    background-color: #E6563B;
}
.bckgrd-2 {
    background-color: #dea03d;
}
.bckgrd-3 {
    background-color: #7CB06C;
}
.bckgrd-4 {
    background-color: #00ABA9;
}
.container {
    justify-content: center;
    flex-direction: row;
}
.dot-1 {
    height: 18px;
    width: 18px;
    background-color: #E6563B;
    border-radius: 100%;
    display: inline-block;
    font-size: xx-small;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
}






.dot-2 {
    height: 18px;
    width: 18px;
    background-color: #dea03d;
    border-radius: 100%;
    display: inline-block;
    font-size: xx-small;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
}
.dot-3 {
    height: 18px;
    width: 18px;
    background-color: #7CB06C;
    border-radius: 100%;
    display: inline-block;
    font-size: xx-small;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
}
.dot-4 {
    height: 18px;
    width: 18px;
    background-color: #00ABA9;
    border-radius: 100%;
    display: inline-block;
    font-size: xx-small;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    margin-right: 200px;
}
#apple-ipad-img{
    border: 10px solid #e6e6e6;
}
#macbook-img {
    border: 10px solid #e6e6e6;
}
#man-img{
    border: 10px solid #e6e6e6
}
#security-img{
    border: 10px solid #e6e6e6
}

@media screen and (max-width: 575px) {
    img.img {
        height: 105px;
        width: 105px;
        position: absolute;
    }
    nav.navbar {
        /*width: 100%;*/
        margin-top: 100px;
        position: relative;
        height: 120px;
        margin-bottom: 40px;
    }
    body {
        /*background-color: #f0f0f1;*/
        background-color: cornflowerblue;
        align-self: center;
    }
    .navbar {
        justify-content: center;
    }
    img.center-block {
        width: 85%;
        height: auto;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    h1 {
        font-size: 84px;
        font-weight: lighter;
    }
    h2 {
        font-family: 'Anton', sans-serif;
        font-size: 48px;
        margin-bottom: 50px;
    }
    #visual-web-header {
        font-weight: bolder;
    }
    .block {
        text-align: center;
        vertical-align: middle;
    }
    div.circles {
        width: 85%;
        height: auto;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .col-5 {
        padding: 10px;
    }
    header {
        color: #00ABA9
    }
    /*.img-fluid {*/
    /*    border: 10px solid;*/
    /*    color: lightgrey;*/
    /*    height: auto;*/
    /*    width: 100%;*/
    /*}*/
    div.row {
        align-content: center;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .circles-list {
        display: flex;
    }
    body {
        background-color: magenta;
    }
    img.img {
        height: 105px;
        width: 105px;
        position: absolute;
    }
    .img-fluid {
        border: 10px solid;
        color: lightgrey;
        height: auto;
        width: 30%;
    }
    nav.navbar {
        margin-top: 150px;
        position: relative;
        height: 60px;
        margin-bottom: 20px;
    }
    .navbar {
        justify-content: center;
    }
    #list-services {
        padding: 0;
        position: absolute;
        top: 10.5em;
        left: 2em;
    }
    #list-work {
        padding: 0;
        position: absolute;
        top: 10.5em;
        left: 8.5em;
    }
    #list-blog {
        padding: 0;
        position: absolute;
        top: 10.5em;
        right: 8.5em;
    }
    #list-contact {
        padding: 0;
        position: absolute;
        top: 10.5em;
        right: 2em;
    }
    h2 {
        font-family: 'Anton', sans-serif;
        font-size: 48px;
        margin-bottom: 1em;
    }
    h1 {
        font-family: 'Anton', sans-serif;
        font-size: 40px;
        padding-bottom: 1em;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .circles-list {
        display: flex;
    }
    img.img {
        height: 105px;
        width: 105px;
        position: absolute;
    }
    nav.navbar {
        margin-top: 50px;
        position: relative;
        height: 60px;
        margin-bottom: 20px;
    }
    #list-services {
        position: absolute;
        right: 25%;
        top: 6%;
    }
    #list-work {
        position: absolute;
        right: 15%;
        top: 6%;
    }
    #list-blog {
        position: absolute;
        right: 5%;
        top: 6%;
    }
    #list-contact {
        position: absolute;
        right: -5%;
        top: 6%;
    }
    body {
        background-color: seagreen;
    }
    h2 {
        font-family: 'Anton', sans-serif;
        font-size: 40px;
        margin-bottom: 50px;
    }
    h1 {
        font-family: 'Anton', sans-serif;
        font-size: 40px;
        position: relative;
        top: -130%;
        right: 20%;
    }
    /*.img-fluid {*/
    /*    border: 10px solid;*/
    /*    color: lightgrey;*/
    /*    height: auto;*/
    /*    width: 30%;*/
    /*}*/
}
@media screen and (min-width: 992px) {
    .circles-list {
        display: flex;
    }
    body {
        background-color: gold;
    }
    #list-services {
        position: absolute;
        right: 25%;
        top: 6%;
    }
    #list-work {
        position: absolute;
        right: 15%;
        top: 6%;
    }
    #list-blog {
        position: absolute;
        right: 5%;
        top: 6%;
    }
    #list-contact {
        position: absolute;
        right: -5%;
        top: 6%;
    }
    h1 {
        font-family: 'Anton', sans-serif;
        font-size: 40px;
        position: relative;
        top: -130%;
        right: 20%;
    }
    h2 {
        font-family: 'Anton', sans-serif;
        font-size: 64px;
        margin-bottom: 50px;
    }
    h3 {
        font-family: 'Anton', sans-serif;
        font-size: 40px;
        margin-bottom: 50px;
    }
    img.img {
        height: 105px;
        width: 105px;
        position: absolute;
        left: 5%;
    }
    nav.navbar {
        margin-top: 50px;
        position: relative;
        height: 60px;
        margin-bottom: 20px;
    }
    /*.img-fluid {*/
    /*    border: 10px solid;*/
    /*    color: lightgrey;*/
    /*    height: auto;*/
    /*    width: 30%;*/
    /*}*/
}