body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    margin: 10px auto;
    padding:0.5em ;
    width: 90%;
    border: .1em solid lightgray;
}

.message-info{
    background-color: #B0C4DE	   ;
    color: darkblue;
    border-radius: 10px;
}

.message-success {
    background-color: #7FFFD4;
    color: #008000;
    border-radius: 10px;

}

.message-warning{
    background-color: #FAFAD2;
    color: #BDB76B;
    border-radius: 10px;

}

.message-error{
    background-color: lightpink;
    color: #8b0000;
    border-radius: 10px;

}